html, body, #cont, #footer {
	font-family: "Roboto","Helvetica Neue",Helvetica,sans-serif;
	padding: 0px;
	margin: 0px;
	height: 100%;
	min-width: 1000px;
}

/* major sections */
#head {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.2em;
	width: 100%;
	min-width: 450px;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.7);
	-moz-box-shadow: 0 2px 5px #888;
	-webkit-box-shadow: 0 2px 5px #888;
	box-shadow: 0 2px 5px rgba(0,0,0, 0.3);
}

#head span {
	padding: 3px 10px;
}

#footer {
	position: absolute;
	overflow:scroll;
	left: 0;
	width: 100%;
	height: 23px;
	bottom: 0;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.7);
	-moz-box-shadow: 0 -2px 5px #888;
	-webkit-box-shadow: 0 -2px 5px #888;
	box-shadow: 0 -2px 5px rgba(0,0,0, 0.3);
}

#fclosed, #fopened {
	text-align: center;
	line-height: 1.4em;
	color: #777;
	height: 23px;
}

#fclosed:hover, #fopened:hover {
	color: black;
	cursor: pointer;
}

#sel_options, #table_view {
	display: inline-table;
	width: 48%;
	margin: 0 0 0 1%;
	height: 100%;
	overflow: scroll;
}

#sel_options_cont, #table_view_cont {
	width: 100%;
	overflow: scroll;
	height: 250px;
}

#sel_options_cont {
	height: 220px;
}

#table_view_cont span {
	padding-left: 2px;
}
#table_view_cont > span:nth-child(odd) {
	background-color: #aab;
}

#map {
	width: 100%;
	min-width: 200px;
	height: 100%;
}

#action_buttons, #zoom_in_text {
	font-size: 0.9em;
	line-height: 2.8em;
	margin: 0 20px;
}

#zoom_in_text {
	color: #b33;
}

#action_buttons {
	display: none;
}

span .acbut {
	width: 170px;
	white-space: nowrap;
	text-align: center;
	background-color: rgba(255, 128, 0, 0.5);
	border: solid 1px rgba(0,0,0, 0.25);
	margin: 0 5px;
	padding: 5px;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
span .acbut:hover {
	background-color: rgba(255, 128, 0, 0.8);
}
span .button_active {
	background-color: rgba(11, 191, 0, 0.5);
}
span .button_active:hover {
	background-color: rgba(11, 191, 0, 0.8);
}

/* footer styling */
span.table_feature {
	display: block;
	background-color: #aaa;
	padding: 1px;
	margin: 2px 0;
}
span.table_feature span {
	color: white;
	font-size: 0.8em;
	font-weight: 400;
	float: right;
	margin: 0 1px;
	text-align: center;
	width: 20px;
	height: 20px;
	line-height: 1.4em;
}
span.table_feature div {
	display: inline;
}
span.table_feature span img {
	cursor: pointer;
	padding-top: 2px;
	height: 16px;
}
span.table_feature span img:hover {
	padding-top: 0px;
	height: 20px;
}
/* generic tags */
p {
	margin: 0px;
	padding: 5px;
}

h4 {
	font-size: 0.9em;
	background-color: #777777;
	color: #FFFFFF;
	margin: 0;
	padding: 3px;
	
}

h3 {
	background-color: rgba(128, 175, 128, 0.4);
	font-size: 1.5em;
	padding: 5px;
	min-width: 250px;
	margin-bottom: 0px;
}

h3 img {
	width: 23px;
	float: right;
	cursor: pointer; 
	margin:0px;
}

h3 img:hover {
	width: 27px;
	margin: -2px;
}

h3 img:active {
	width: 29px;
	margin: -3px;
}

/* minor classes and ids */
.mint {
	color: #666;
	font-size: 0.8em;
}

.hips {
	margin: 0 5px;
}
.cmnt_symb {
	background: url('../imgs/comment.png') no-repeat 1px 2px;
	background-size: 18px 18px;
}

#warn {
	background-color: #ffa;
	margin: 0 0 2px -5px;
	padding-left: 5px;
	line-height: 1.2em;
}

textarea {
	height: 4em;
}

/* form layout */
.leaflet-popup-content form {
	padding: 5px;
	min-width: 250px;
	font-size: 1.1em;
}

.leaflet-popup-content form p {
	line-height: 1.4em;
	padding: 0px;
}
.leaflet-popup-content .ialign {
	left: 100px;
	position: absolute;
}
.leaflet-popup-content input[type="button"] {
	height: 30px;
}

.leaflet-popup-content #brloc_cap {
	width: 20px;
}

/* leaflet over-ride */
.leaflet-top {
	top: 60px;
}

.leaflet-popup-content p {
	margin: 5px 0 10px 0;
	font-size: 1em;
	padding: 0px;
}
